@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --f-league-spartan: "League Spartan", serif;
}

html {
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-league-spartan);
    font-weight: 700;
}

body {
    background-color: hsl(222, 26%, 31%);
}

/* CONTAINER */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-block: 40px;
}

/* CALCULATOR */

.calculator {
    width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* 

    CALCULATOR TOP

*/

.calculator-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator-top-text {
    color: white;
}

/* CALCULATOR TOP THEME */

.calculator-top-theme {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.calculator-top-theme-text {
    color: white;
}

.calculator-top-theme-container {
    display: flex;
    position: relative;
}

.calculator-top-theme-container-text {
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 8px;
}

.calculator-top-theme-container-text-itself {
    color: rgb(150,150,150);
    transition: color 400ms;
}

.calculator-top-theme-container-text-itself-active {
    color: white;
}

.calculator-top-theme-itself {
    width: 55px;
    height: 18px;
    border-radius: 1rem;
    border: 0;
    background-color: hsl(223, 31%, 20%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.calculator-top-theme-itself-inner {
    width: 15px;
    height: 15px;
    background-color: hsl(6, 63%, 50%);
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left 400ms;
}

.calculator-top-theme-itself-inner:hover {
    background-color: hsl(6, 91%, 64%);
}

/* 

    CALCULATOR MIDDLE 

*/

.calculator-middle {
    background-color: hsl(224, 36%, 15%);
    color: white;
    padding: 20px 25px;
    border-radius: 0.5rem;
    position: relative;
}

.calculator-middle-screen {
    width: 100%;
    height: 50px;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.calculator-middle-screen-paragraph {
    position: absolute;
    bottom: 5px;
    right: 25px;
    font-weight: 200;
}

/* 

    CALCULATOR BOTTOM

*/

.calculator-bottom {
    background-color: hsl(223, 31%, 20%);
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    border-radius: 0.5rem;
}

/* CALCULATOR BOTTOM BUTTON */

.calculator-bottom-button {
    border: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    border-radius: 0.5rem;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 3.5px 0 hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
    cursor: pointer;
}

.calculator-bottom-button:hover {
    background-color: white;
}

.calculator-bottom-button:active {
    background-color: white;
    box-shadow: 0 0 0 hsl(28, 16%, 65%);
    transform: translateY(3px);
}

.calculator-bottom-button-reset {
    grid-column: 1 / 3;
}

.calculator-bottom-button:last-of-type {
    grid-column: 3 / 5;
}

/* DELETE */

.calculator-bottom-button-delete,
.calculator-bottom-button-reset {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 3.5px 0 hsl(224, 28%, 35%);
    color: white;
    font-size: 1.5rem;
}

.calculator-bottom-button-delete:hover,
.calculator-bottom-button-reset:hover {
    background-color: hsl(225, 26%, 56%);
}

.calculator-bottom-button-equal {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 3.5px 0 hsl(6, 70%, 34%);
    color: white;
    font-size: 1.5rem;
}

.calculator-bottom-button-equal:hover {
    background-color: hsl(6, 91%, 64%);
}

/* 

    THEME

*/

/* BODY THEME 2 */

.body-theme-2 {
    background-color: hsl(0, 0%, 90%);
}

.body-theme-2 .calculator-top-text,
.body-theme-2 .calculator-top-theme-text,
.body-theme-2 .calculator-top-theme-container-text-itself-active,
.body-theme-2 .calculator-middle,
.body-theme-2 .calculator-bottom-button {
    color: hsl(60, 10%, 19%);
}

.body-theme-2 .calculator-top-theme-itself {
    background-color: hsl(0, 5%, 81%);
}

.body-theme-2 .calculator-top-theme-itself-inner {
    background-color: hsl(25, 98%, 40%);
}

.body-theme-2 .calculator-top-theme-itself-inner:hover {
    background-color: hsl(25, 100%, 47%);
}

.body-theme-2 .calculator-middle {
    background-color: hsl(0, 0%, 93%);
}

.body-theme-2 .calculator-bottom {
    background-color: hsl(0, 5%, 81%);
}

.body-theme-2 .calculator-bottom-button {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0 3.5px 0 hsl(35, 11%, 61%);
}

.body-theme-2 .calculator-bottom-button:hover {
    background-color: white;
}

.body-theme-2 .calculator-bottom-button:active {
    box-shadow: 0 0 0 hsl(35, 11%, 61%);
}

.body-theme-2 .calculator-bottom-button-delete,
.body-theme-2 .calculator-bottom-button-reset {
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 3.5px 0 hsl(185, 58%, 25%);
    color: white;
}

.body-theme-2 .calculator-bottom-button-delete:hover,
.body-theme-2 .calculator-bottom-button-reset:hover {
    background-color: hsl(184, 41%, 45%);
}

.body-theme-2 .calculator-bottom-button-equal {
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0 3.5px 0 hsl(25, 99%, 27%);
    color: white;
    font-size: 1.5rem;
}

.body-theme-2 .calculator-bottom-button-equal:hover {
    background-color: hsl(25, 100%, 47%);
}

/* BODY THEME 3 */

.body-theme-3 {
    background-color: hsl(268, 75%, 9%);
}

.body-theme-3 .calculator-top-text,
.body-theme-3 .calculator-top-theme-text,
.body-theme-3 .calculator-top-theme-container-text-itself-active,
.body-theme-3 .calculator-middle,
.body-theme-3 .calculator-bottom-button {
    color: hsl(52, 100%, 62%);
}

.body-theme-3 .calculator-top-theme-itself {
    background-color: hsl(268, 71%, 12%);
}

.body-theme-3 .calculator-top-theme-itself-inner {
    background-color: hsl(176, 100%, 44%);
}

.body-theme-3 .calculator-top-theme-itself-inner:hover {
    background-color: hsl(176, 99%, 47%);
}

.body-theme-3 .calculator-middle {
    background-color: hsl(268, 71%, 12%);
}

.body-theme-3 .calculator-bottom {
    background-color: hsl(268, 71%, 12%);
}

.body-theme-3 .calculator-bottom-button {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0 3.5px 0 hsl(290, 70%, 36%);
}

.body-theme-3 .calculator-bottom-button:hover {
    background-color: hsl(268, 49%, 31%);
}

.body-theme-3 .calculator-bottom-button:active {
    box-shadow: 0 0 0 hsl(290, 70%, 36%);
}

.body-theme-3 .calculator-bottom-button-delete,
.body-theme-3 .calculator-bottom-button-reset {
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0 3.5px 0 hsl(285, 91%, 52%);
    color: white;
}

.body-theme-3 .calculator-bottom-button-delete:hover,
.body-theme-3 .calculator-bottom-button-reset:hover {
    background-color: hsl(281, 89%, 34%);
}

.body-theme-3 .calculator-bottom-button-equal {
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0 3.5px 0 hsl(177, 92%, 70%);
    color: black;
    font-size: 1.5rem;
}

.body-theme-3 .calculator-bottom-button-equal:hover {
    background-color: hsl(176, 99%, 47%);
}